body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #689dff;
}

.stopwatch {
    text-align: center;
    background-color: #1f1e1e;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    background-color: crimson;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: rgb(179, 13, 46);
}